<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Pessoa</title>

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>

<div class="container my-5">
    <a class="btn btn-primary" th:href="@{/pessoa/listar}">Lista de Pessoas</a>
    <div class="card mt-2">
        <h5 class="card-header">
            Cadastro de Pessoa
        </h5>
        <form class="card-body" th:action="@{/pessoa/salvar}" method="post" th:object="${pessoa}">
            <div class="mb-3">
                <label class="form-label">Nome</label>
                <input type="text" name="nome" th:field="*{nome}" class="form-control" required
                autofocus>
            </div>
            <div class="mb-3">
                <label class="form-label">Sobrnome</label>
                <input type="text" name="sobrenome" th:field="*{sobrenome}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">CPF</label>
                <input type="text" name="cpf" th:field="*{cpf}" class="form-control" data-mask="000.000.000-00"
                       required>
            </div>
            <div class="mb-3">
                <label class="form-label">Data de Nascimento:</label>
                <input type="date" name="dataNascimento" th:field="*{dataNascimento}"
                       class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Peso (kg):</label>
                <input type="text" name="peso" th:field="*{peso}" required class="form-control"
                       data-mask="#.##0,00"
                       data-mask-reverse="true" maxlength="6">
            </div>
            <div class="mb-3">
                <label class="form-label">Altura (m):</label>
                <input type="text" name="altura" th:field="*{altura}" required class="form-control"
                       data-mask="#.00"
                       data-mask-reverse="true" maxlength="4">
            </div>
            <div class="mb-3">
                <label class="form-label">Sexo:</label>
                <select name="sexo" th:field="*{sexo}" required class="form-select">
                    <option value="">Selecione</option>
                    <option value="-">-</option>
                    <option value="F">Feminino</option>
                    <option value="M">Masculino</option>
                </select>
            </div>
            <input type="hidden" th:field="*{id}">
            <button type="submit" class="btn btn-lg btn-success mt-2">Salvar</button>

        </form>
    </div>
</div>

<!--    Scripts-->
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/github-com-igorescobar-jQuery-Mask-Plugin/jquery.mask.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>